body{
    background:white url('images/background.jpg');
    background-size:cover;
}
.navbar{
    border-radius: 0;
}
.navbar-inverse{
    background-color:#4B0082;
    border-color:#4B0082;
}
.navbar-brand{
    font-family:'Caveat',cursive;
}
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  
.Absolute-Center.is-Responsive {
    width: 50%; 
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
  }
  